
<h1 class="h4 mt-3">Cadastro de Produto</h1>

<label for="inputNome" class="sr-only">Nome da Sala</label>
<input type="text" id="inputNome"
  class="form-control mb-2 col-md-4"
  [ngClass] = ""
  name="inputNome"
  placeholder="Nome da Sala"
  [(ngModel)] = "sala.nome"
  #nome= "ngModel"
  required />

  <div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
    <div *ngIf="nome.errors.required">
      Nome da Sala é de preenchimento obrigatório
    </div>
  </div>

<button class="btn btn-primary" (click)="cadastrar()">
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner"></span>
  Cadastrar
</button>

<div class="alert alert-danger mt-2" role="alert" *ngIf="mensagem">
  <h4 class="alert-heading"></h4>
  {{ mensagem }}
</div>

<div class="alert alert-success mt-2" role="alert" *ngIf="salaCadastrada">
  <h4 class="alert-heading"></h4>
  Sala cadastrada com sucesso!
</div>

