
<h1 class="h4 mt-3">Cadastro de Sala</h1>


<form >
  <div class="row">
    <div class="col">
      <label for="inputNome" class="sr-only">Nome da Sala</label>
      <input type="text" id="inputNome"
        class="form-control mb-2"
        [ngClass] = "{
          'is-invalid': nome.invalid && (nome.dirty || nome.touched),
          'is-valid': nome.valid && (nome.dirty || nome.touched)
        }"
        name="inputNome"
        placeholder="Nome da Sala"
        [(ngModel)] = "sala.nome"
        #nome= "ngModel"
        required />
      
        <div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
          <div *ngIf="nome.errors.required">
            Nome da Sala é de preenchimento obrigatório
          </div>
        </div>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="cadastrar()" [disabled]="ativarSpinner">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner"></span>
        Cadastrar
      </button>
    </div>
  </div>
</form>

<div class="alert alert-danger mt-2" role="alert" *ngIf="mensagem">
  <h4 class="alert-heading"></h4>
  {{ mensagem }}
</div>

<div class="alert alert-success mt-2" role="alert" *ngIf="salaCadastrada">
  <h4 class="alert-heading"></h4>
  Sala cadastrada com sucesso!
</div>


<h1 class="h4 mb-2 mt-2"> Todas as Salas</h1>

<p *ngIf="!salas">
  carregando...
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Sala</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of salas">
      <td>{{s.id}}</td>
      <td>{{s.nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mx-1">Editar</button>
        <button type="button" class="btn btn-danger btn-sm mx-1" (click)="deletarSala(s)">Excluir</button>
      </td>
      
    </tr>
   
  </tbody>
</table>
<div >



