<h1>Hello, world!</h1>
<p>Bem vindo ao sistema de agendamentos de reuniões.</p>
<p>Esste sistema foi construido com:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core 2.2</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para o Back-End</li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> para o Front-End</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para o layout</li>
  <li><a href='https://docs.microsoft.com/pt-br/ef/core/'>Entity Framework Core</a> como ORM </li>
  <li><a href='https://www.mysql.com/'>MySql Database</a> como Base de Dados</li>
</ul>
