
<h1 class="h4 mb-4 text-center">Consultar Reuniões / Agendamento</h1>


<table class="table table-hover text-center" *ngFor="let sala of salasComReuniao" >
  <thead class="thead-light">
    <tr>
      <th scope="col" colspan="12">{{ sala.nome }}</th>
    </tr>
  </thead>
  <thead class="thead-dark">
    <tr>
      <th scope="col">DATA</th>
      <th scope="col">Reunião</th>
      <th scope="col">Incio</th>
      <th scope="col">Fim</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reuniao of sala.reunioes; index as i; odd as od">
        <th>{{reuniao.dataHoraInicio | date: 'dd/MM/yyyy'}}</th>
        <td> {{ reuniao.titulo }} </td>
        <td>{{ reuniao.dataHoraInicio | date: 'dd/MM/yyyy hh:mm' }}</td>
        <td>{{ reuniao.dataHoraFim | date: 'dd/MM/yyyy hh:mm' }}</td>
    </tr>
  </tbody>
</table>
